.DS_Store
**/.DS_Store

# Python Cache
__pycache__/
**/__pycache__/
*.pyc

# Environment and Logs
.env
api.log
pyrefly.toml
venv/

# Ignore Generated Outputs
generated_files/
**/generated_files/
output*.json
**/output*.json
output*.dxf
**/output*.dxf
